<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/admin/layout">
<head>
  <title>R2R-Trip</title>
</head>
<body>
<div layout:fragment="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h1 class="box-title">Trip Form</h1>
    </div>
    <form role="form" th:action="@{'/trip/save'}" th:object="${response}" method="post">
      <div class="box-body">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Title">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" rows="3" name="description" id="description" placeholder="Enter description"></textarea>
        </div>

        <div class="form-group">
          <label for="icon_cover">Icon Cover</label>
          <input type="file" id="icon_cover">

          <!--<p class="help-block">Example block-level help text here.</p>-->
        </div>

        <div class="form-group">
          <label for="icon_cover">Icon Publisher</label>
          <input type="file" id="icon_publisher">

          <!--<p class="help-block">Example block-level help text here.</p>-->
        </div>

        <div class="form-group">
          <label for="duration">Duration</label>
          <div class="input-group" id="duration">
            <input type="number" name="duration" class="form-control" placeholder="Duration">
            <span class="input-group-addon">Days</span>
          </div>
        </div>

        <div class="form-group">
          <label for="tag">Tag</label>
          <input type="text" name="tag" class="form-control" id="tag" placeholder="Tag">
        </div>

        <div class="form-group">
          <label for="detail-desc">Detail Desc</label>
          <textarea class="form-control" name="detailDescription" rows="3" id="detail-desc" placeholder="Enter Detail Description"></textarea>
        </div>

        <div class="form-group">
          <label for="captain">Captain</label>
          <input type="text" class="form-control" id="captain" placeholder="Captain">
        </div>

      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>>
</body>
</html>