<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" th:href="@{/css/plugins/current-map.css}"/>
  <head>
  </head>

  <body>

  <div id="wrapper">
  </div>

  <div id="page-wrapper">

    <div class="container-fluid" id="map-container">

    <!-- Page Heading -->
    <div class="row">

      <div class="col-lg-12">
        <style>
                          #map {
                            height: 500px;
                            width: 100%;
                           }

        </style>
        <div id="map"></div>
        <script>
                  function initMap() {
                    var uluru = {lat: -25.363, lng: 131.044};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 4,
                      center: uluru
                    });
                    var marker = new google.maps.Marker({
                      position: uluru,
                      map: map
                    });
                  }

        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCegjS81MOvtXounku2rnlJlggMKv0tv9w&callback=initMap">
        </script>

      </div>
    </div>
    <!-- /#page-wrapper -->

    </div>
  </div>
<!-- /#wrapper -->


</body>


</html>

