<html layout:decorator="/admin/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Availaball</title>
    <link rel="stylesheet" th:href="@{/css/plugins/edit-field.css}" />
    <link rel="stylesheet" th:href="@{/css/fonts/icon-edit/style.css}" />
     <script th:src="@{/js/edit-field.js}"></script>
       <script th:src="@{/js/date.min.js}"></script>
   
</head>

<body>
	 <div id="page-wrapper">
				<div layout:fragment="content">
            <div class="container-fluid">

                <!-- Page Heading -->
						<div class="row">
                    <div  class="col-lg-12" id="font">
                       
                        <!-- Title -->
                        <div class="col-lg-3 lefted">
                        <h4 class="title">EDIT</h4>
                        </div>
                        <!-- end of title -->
                        <br>

                        <!-- Image -->
                        <div class="col-lg-12 lefted">
                        
			       		 <div class="show-image lefted">
			          	<img src="/img/blank.jpg" style="  width: 360px;  height: 180px;" onchange="readURL(this);" id="field-img">   
			         
			            <div class="button-edit " id="button-edit">
			            <input  type="file" class="update ">
			            <i class="icon-edit_icon"></i>
			            </div>
	
			        </div>

                        </div>
                        <!-- end of Image -->

                        <!-- Field Name -->

                        <div class="col-lg-12 lefted">
                       
                            
                            <div class="col-lg-6 lefted">
                             <label class="field-nama label-color">Nama</label>
                    
                         <input type="text"  class="form-control" name="nama"  size="35" th:field="${view.fieldName}"  placeholder="Nama Lapangan">
                        
                                 </div>
                        </div>
                        <!-- end of Field Name -->

                        <!-- Address -->
                        <div class="col-lg-12 lefted">
                      
                            <div class="col-lg-6 field-alamat lefted">


                              <label class="label-color lefted">Alamat</label>

                                  <!-- Map icon -->
                        <div class="col-lg-4 map2 lefted" id="map" style="margin-top: -9px;padding-right: unset;" >
                           <label class="label-color lefted"> -6.19152212312</label>
                           <a th:href="@{/admin/picklocation}">
                           <img src="/img/map.jpg" class="map-icons" onclick="removeHidden()">
                           </a>
                           

                        </div>
                        <!-- end of Map Icon  -->


                         <textarea  class="form-control" size="35" th:field="${view.detailLocation}" placeholder="Alamat"></textarea>
                        
           
                             </div>
                        </div>
                        <!-- end of Address -->

                        <!-- Phone & number Of field -->
                        <!-- Phone -->
                     
                      		<div class="col-lg-12  field-telpon lefted">
                            <div class="col-lg-6 lefted">
                        
							<div class="control-group" id="fields">
										<label class="control-label label-color" for="field1">Telepon</label>
										<div class="controls">
											<form role="form" autocomplete="off">
												<div class="entry input-group col-lg-4"
													style="width: 205px;">
													<div class="bound">
														<input class="form-control" name="fields[]" type="tel" pattern="[0-9]{14}"
															id="phone_no" placeholder="Phone Number" maxlength="14"
													

															/>
													</div>
													<span class="input-group-btn ">
														<button class="btn btn-success btn-add" type="button"
															id="green-round">
															<span class="icon_add"></span>
														</button>
													</span>
												</div>
											</form>
										</div>
									</div>
						


                        <!-- end of Phone -->

                 
                        <!-- end of Phone & number Of field -->
              
                    </div>
                             <!-- number of field -->
                        <div class="col-lg-6"> 
                     
                            <div class="col-lg-6"     style="    margin-left: -151px;">
                              <label class="label-color">Jumlah Lapangan</label>
            
                        	 <select class="form-control selectpicker" style="width:60px;">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							  <option>6</option>
							</select>

                             </div>

                        </div>
                        <!-- end of Number of field -->
                    </div>
            
   

						
                        </div>
                  
             
                        <!-- Harga -->
                             <div class="col-lg-12" style="padding-bottom: 20px;">
                                <div class="horizontal-line lefted" ></div>  
								<label class="label-color">Harga</label>
							</div>
								<div class="col-lg-6" style="float: left;">
										<div class="">
								
									<div class="control-group" id="fields">
										<div class="col-lg-6">
											<label class="control-label" for="field1">  <input class="day" name="day" value="day" style="margin-right: 12px; margin-left: -16px;" type="checkbox" id="senin">Senin</label>

										</div >
										<div class="senin" >
											<form autocomplete="off" >
											<div class="entry" style="float:left;     padding-left: 23px;" id="entry">
										
												<select class="time" id="start_senin" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select> <select class="timed" id="end_senin" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select>
												<div class=" input-group " style="float:right">
														<label class="rp" > Rp </label>
														<input class="field-harga" name="fields[1]" type="text"
															id="fields-round" placeholder="Harga" style="float:left" disabled="disabled" />
															<button class="btn btn-success btn-add_2" type="button"
													id="green-round_2" disabled="disabled" >
													<span class="icon_add" style="float:right" ></span>
												</button>
											</div>
												</div>
											</form>
										</div>
									</div>
								
					</div>
		
								<div class="lefted" >
									<div class="control-group" >
										<div class="col-lg-6">
											<label class="control-label" >  <input class="day" name="day" value="day" style="margin-right: 12px; margin-left: -16px;" type="checkbox" id="selasa">Selasa</label>

										</div >
										<div class="selasa" >
											<form autocomplete="off" >
											<div class="entry" style="float:left;     padding-left: 23px;" id="entry_selasa">
										
												<select class="time" id="start_selasa" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select> <select class="timed" id="end_selasa" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select>
												<div class=" input-group " style="float:right">
														<label class="rp" > Rp </label>
														<input class="field-harga" name="fields[2]" type="text"
															id="selasa-round" placeholder="Harga" style="float:left" disabled="disabled" />
															<button class="btn btn-success btn-add_3" type="button"
													id="green-round_3" disabled="disabled" >
													<span class="icon_add" style="float:right" ></span>
												</button>
											</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							


					
								<div class="lefted">
									<div class="control-group" >
										<div class="col-lg-6">
											<label class="control-label" >  <input class="day" name="day" value="day" style="margin-right: 12px; margin-left: -16px;" type="checkbox" id="rabu">Rabu</label>

										</div >
										<div class="rabu" >
											<form autocomplete="off" >
											<div class="entry" style="float:left;     padding-left: 23px;" id="entry_rabu">
										
												<select class="time" id="start_rabu" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select> <select class="timed" id="end_rabu" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select>
												<div class=" input-group " style="float:right">
														<label class="rp" > Rp </label>
														<input class="field-harga" name="fields[3]" type="text"
															id="rabu-round" placeholder="Harga" style="float:left" disabled="disabled" />
															<button class="btn btn-success btn-add_4" type="button"
													id="green-round_4" disabled="disabled" >
													<span class="icon_add" style="float:right" ></span>
												</button>
											</div>
												</div>
											</form>
										</div>
									</div>
								</div>



								<div class="lefted">
									<div class="control-group" >
										<div class="col-lg-6">
											<label class="control-label" >  <input class="day" name="day" value="day" style="margin-right: 12px; margin-left: -16px;" type="checkbox" id="kamis">Kamis</label>

										</div >
										<div class="kamis" >
											<form autocomplete="off" >
											<div class="entry" style="float:left;     padding-left: 23px;" id="entry_kamis">
										
												<select class="time" id="start_kamis" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select> <select class="timed" id="end_kamis" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select>
												<div class=" input-group " style="float:right">
														<label class="rp" > Rp </label>
														<input class="field-harga" name="fields[4]" type="text"
															id="kamis-round" placeholder="Harga" style="float:left" disabled="disabled" />
															<button class="btn btn-success btn-add_5" type="button"
													id="green-round_5" disabled="disabled" >
													<span class="icon_add" style="float:right" ></span>
												</button>
											</div>
												</div>
											</form>
										</div>
									</div>
								</div>

</div>	

<div class="col-lg-6 " style="  padding-bottom: 55px; float: right;">
	

							<div class="">
								
									<div class="control-group" >
										<div class="col-lg-6">
											<label class="control-label" >  <input class="day" name="day" value="day" style="margin-right: 12px; margin-left: -16px;" type="checkbox" id="jumat">Jumat</label>

										</div >
										<div class="jumat" >
											<form autocomplete="off" >
											<div class="entry" style="float:left;     padding-left: 23px;" id="entry_jumat">
										
												<select class="time" id="start_jumat" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select> <select class="timed" id="end_jumat" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select>
												<div class=" input-group " style="float:right">
														<label class="rp" > Rp </label>
														<input class="field-harga" name="fields[4]" type="text"
															id="jumat-round" placeholder="Harga" style="float:left" disabled="disabled" />
															<button class="btn btn-success btn-add_6" type="button"
													id="green-round_6" disabled="disabled" >
													<span class="icon_add" style="float:right" ></span>
												</button>
											</div>
												</div>
											</form>
										</div>
									</div>
								
						</div>

								<div class=" lefted">
									<div class="control-group" >
										<div class="col-lg-6">
											<label class="control-label" >  <input class="day" name="day" value="day" style="margin-right: 12px; margin-left: -16px;" type="checkbox" id="sabtu">Sabtu</label>

										</div >
										<div class="sabtu" >
											<form autocomplete="off" >
											<div class="entry" style="float:left;     padding-left: 23px;" id="entry_sabtu">
										
												<select class="time" id="start_sabtu" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select> <select class="timed" id="end_sabtu" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select>
												<div class=" input-group " style="float:right">
														<label class="rp" > Rp </label>
														<input class="field-harga" name="fields[4]" type="text"
															id="sabtu-round" placeholder="Harga" style="float:left" disabled="disabled" />
															<button class="btn btn-success btn-add_7" type="button"
													id="green-round_7" disabled="disabled" >
													<span class="icon_add" style="float:right" ></span>
												</button>
											</div>
												</div>
											</form>
										</div>
									</div>
								
								</div>



								<div class="lefted">
							<div class="control-group" >
										<div class="col-lg-6">
											<label class="control-label" >  <input class="day" name="day" value="day" style="margin-right: 12px; margin-left: -16px;" type="checkbox" id="minggu">Minggu</label>

										</div >
										<div class="minggu" >
											<form autocomplete="off" >
											<div class="entry" style="float:left;     padding-left: 23px;" id="entry_minggu">
										
												<select class="time" id="start_minggu" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select> <select class="timed" id="end_minggu" disabled="disabled">
													<option value="08.00">08.00</option>
													<option value="09.00">09.00</option>
													<option value="10.00">10.00</option>
													<option value="11.00">11.00</option>
													<option value="12.00">12.00</option>
													<option value="13.00">13.00</option>
													<option value="14.00">14.00</option>
													<option value="15.00">15.00</option>
													<option value="16.00">16.00</option>
													<option value="17.00">17.00</option>
													<option value="18.00">18.00</option>
													<option value="19.00">19.00</option>
													<option value="20.00">20.00</option>
													<option value="21.00">21.00</option>
													<option value="22.00">22.00</option>
													<option value="23.00">23.00</option>
													<option value="24.00">24.00</option>
												</select>
												<div class=" input-group " style="float:right">
														<label class="rp" > Rp </label>
														<input class="field-harga" name="fields[5]" type="text"
															id="minggu-round" placeholder="Harga" style="float:left" disabled="disabled" />
															<button class="btn btn-success btn-add_8" type="button"
													id="green-round_8" disabled="disabled" >
													<span class="icon_add" style="float:right" ></span>
												</button>
											</div>
												</div>
											</form>
										</div>
									</div>
								
								</div>



							</div>
								
							</div>
                        
                        <!-- end of harga -->
                        	<a href="#" id="button-save" type="submit" class="btn btn-primary btn-default">Simpan</a>
                    </div>
            </div>

            </div>
			
        </div>
        <!-- /#page-wrapper -->

</body>


</html>