<html layout:decorator="/admin/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit User</title>
<link rel="stylesheet" th:href="@{/css/plugins/main.css}" />
<script src="/js/user.js"></script>
</head>
<body>

	<div id="page-wrapper">
		<div layout:fragment="content">

			<div class="modal fade" id="squarespaceModal" tabindex="-1"
				role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<p class="header">Edit User</p>
							<form method="post" accept-charset="utf-8">

								<label-s style="margin-left: 30px;"> Nama Lengkap2 </label-s>
								<div class="form-group has-feedback">
									<input type="text" name="login" value=""
										placeholder="Ketik Nama Lengkap" class="form-controls"
										id="login" maxlength="80" size="30">
								</div>

								<label-s style="margin-left: 30px;"> Email </label-s>
								<div class="form-group has-feedback">
									<input type="text" name="login" value=""
										placeholder="Ketik Email" class="form-controls" id="login"
										maxlength="80" size="30">

								</div>

								<label-s style="margin-left: 30px;"> Nomor Telepon </label-s>
								<div class="form-group has-feedback">
									<input type="text" name="login" value=""
										placeholder="Ketik Nomor Telepon" class="form-controls"
										id="login" maxlength="80" size="30">

								</div>
								<input type="submit" name="submit" value="Edit" id="submit"
									class="btn-create btn-create-default"> <input
									name="submit" value="Cancel" id="submit"
									class="btn-create btn-cancel btn-cancel-default"
									style="margin-left: 10px;" type="submit">

							</form>

						</div>

					</div>
				</div>
			</div>

		</div>
		<!-- /#page-wrapper -->
	</div>

</body>
</html>