<!DOCTYPE html>
<html layout:decorator="/admin/layout">
<head>
  <title>R2R-Trip</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/jqc-1.11.3,dt-1.10.10/datatables.min.css" />
  <style>
    span a {
      color: #000 !important;
    }

    table#rsp-tbl .dropdown .dropdown-menu {
      box-shadow: 2px 3px 10px 0px;
      margin-left: -1px;
      margin-top: -2px;
    }

    table#rsp-tbl .dropdown .dropdown-menu li {
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: 14px;
      margin-left: 8px;
      font-weight: 600;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Trip List</h3>
      </div>
      <div class="box-body">
        <table id="rsp-tbl" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Group Title</th>
            <th>Action</th>
          </tr>
          </thead>
          <!--<tfoot>-->
          <!--<th>Description</th>-->
          <!--</tfoot>-->
        </table>
      </div>
    </div>
  </div>
</div>
<th:block layout:fragment="footer-js">
  <!--<script type="text/javascript" src="https://cdn.datatables.net/s/bs/jqc-1.11.3,dt-1.10.10/datatables.min.js"></script>-->
  <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
  <script src="../../js/si/tripItineraryList.js"></script>
</th:block>
</body>
</html>