<html layout:decorator="/admin/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>User</title>
<!-- <th:block layout:decorator ="/admin/layout :: head"></th:block> -->
<link rel="stylesheet" th:href="@{/css/plugins/main.css}" />
<link rel="stylesheet" th:href="@{/css/plugins/main-user.css}" />
<script src="/js/user.js"></script>

</head>
<body>
	<div class="wrapper">
		<div layout:fragment="content">
			<div class="container-fluid">
				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<div class="col-md-4" style="padding-top: 20px;">
							<h4 style="text-decoration: none; margin-left: -15px;">User</h4>
						</div>
						<div class="col-md-5"
							style="padding-top: 30px; margin-left: 140px;">
							<form action="#" method="get">
								<label
									style="float: left; padding-left: 0px; padding-top: 10px; margin-left: 55px;">Filter</label>
								<div class="input-groups" style="float: right;">

									<input type="text" id="searchName"
										class="forms-controls countrycode" Style="border-radius: 4px;"
										placeholder="Nama User" /> <span class="input-group-btn">
									</span>
								</div>
							</form>
						</div>
						<button class="btnss btnss-default"
							data-target="#squarespaceModal" data-toggle="modal"
							style="padding-top: 0px; margin-top: 30px; margin-bottom: 19px; margin-left: 28px;"
							type="submit" value="+ User">+ User</button>

						<div class="modal fade" id="squarespaceModal" tabindex="-1"
							role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-body">

										<p class="header"
											style="margin-top: 30px; text-align: center; margin-bottom: 35px; font-size: 20px; color: #000000; font-family: roboto;">Create
											New User</p>
										<form method="post" th:action="@{/admin/create/user}" accept-charset="utf-8">

											<div class="form-group has-feedback" class="form-create">
												<label-s style="margin-left: 30px;"> Nama Lengkap
												</label-s>
												<input type="text" name="name" value=""
													placeholder="Ketik Nama Lengkap" class="form-controls"
													id="name" required maxlength="80" size="30">

											</div>

											<div class="form-group has-feedback" class="form-create">
												<label-s style="margin-left: 30px;"> Email </label-s>
												<input type="email" name="username" value=""
													placeholder="Ketik Email" class="form-controls" id="username"
													required maxlength="80" size="30">
											</div>

											<div class="form-group has-feedback" class="form-create">
												<label-s style="margin-left: 30px;"> Nomor Telepon
												</label-s>
												<input type="text" name="phone" value=""
													placeholder="Ketik Nomor Telepon" class="form-controls"
													id="phone" required maxlength="80" size="30">

											</div>

											<div class="form-group has-feedback" class="form-create">
												<label-s style="margin-left: 30px;"> Password </label-s>
												<input type="password" name="plainPassword" value=""
													placeholder="Ketik Password" class="form-controls"
													id="plainPassword" required maxlength="80" size="30">

											</div>
											<!-- penting to change -->
											<div class="actions">
												<input type="submit" name="Submit" value="Create"
													id="submit" class="btn-user btn-create-default"> <input
													name="submit" value="Cancel" id="submit"
													data-dismiss="modal"
													class="btn-user btn-cancel btn-cancel-default"
													style="margin-left: 10px;" type="submit">
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="table-responsive">
							<hr>
							</hr>
							<table id="surveyerTable"
								class="table table-bordred table-striped center">
								<thead class="center">
									<th>No</th>
									<th>Nama</th>
									<th>Phone</th>
									<th>Email</th>
									<th>Total <br> Lapangan</br></th>
									<th>Latest <br /> Update
									</th>
									<th></th>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id="editForm">
				<div class="overlay"></div>
				<div class="popup edit-form">
					<p class="header-s">Edit User</p>
					<form method="post" th:action="@{/admin/edit/user}" accept-charset="utf-8">
						<input type="hidden" name="id" id="id">
						<label-s style="margin-left: 30px;"> Nama Lengkap </label-s>
						<div class="form-group has-feedback">
							<input type="text" name="name" value="" class="form-control-edit"
								id="name" maxlength="80" size="30">
						</div>

						<label-s style="margin-left: 30px;"> Email </label-s>
						<div class="form-group has-feedback">
							<input type="text" name="username" value=""
								class="form-control-edit" id="username" maxlength="80" size="30">

						</div>

						<label-s style="margin-left: 30px;"> Nomor Telepon </label-s>
						<div class="form-group has-feedback">
							<input type="text" name="phone" value=""
								class="form-control-edit" id="phone" maxlength="80" size="30">
						</div>
						<input type="submit" name="submit" value="Edit" id="submit"
							class="btn-user btn-edit-default"> <input name="submit"
							value="Cancel" id="submit" data-dismiss="editForm"
							class="btn-user btn-cancel btn-cancel-default"
							style="margin-left: 10px;" type="submit">
					</form>
				</div>
			</div>
		</div>
	</div>


</body>
</html>