@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic);

body,
html {
  margin: 0;
  padding: 0;
  height: 100%
}

body {
  font-size: 13px;
  font-family: Open Sans;
  color: #666;
  -webkit-font-smoothing: antialiased
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px
}

::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, .3)
}

::-webkit-scrollbar-track {
    background-color: rgba(50, 50, 50, .1)
}

a {
  text-decoration:none;
}

ul {
  padding: 0;
  margin: 0;
}

hr .divide-header{
  border-top: 3px solid #999999;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.collapse {
  display: none;
}

.vlign {
  position: relative;
  top: 48%;
  transform: translateY(-48%);
  -webkit-transform: translateY(-48%);
}

/*Padding*/
.padding-xs {
    padding: 5px!important
}

.padding-sm {
    padding: 10px!important
}

.padding-md {
    padding: 20px!important
}

.padding-lg {
    padding: 40px!important
}

/*Wrapper*/
.wrapper{
  overflow: hidden;
  padding-top: 50px;
  min-height: 100%;
  padding-bottom: 45px;
  position: relative;
}

.wrapper .no-navigation {
  padding-top: 0
}

.wrapper .front-end-wrapper {
  padding-top: 0;
  padding-bottom: 0
}

.wrapper .no-footer {
  padding-bottom: 0
}

/*Top Header*/
.top-header{
  background-color: #262626;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1001;
}

.top-header .header-logo {
  position: relative;
  float: left;
  width: 240px;
  height: 64px;
  text-align: center
}

.top-header .header-logo .brand {
  position: relative;
  display: block;
  font-size: 14px;
  padding: 6px 10px 0 20px;
  top:23px;
  left: 58px;
  z-index: 1002;
}

.top-header .header-logo .brand img{
  background: #262626;
}

.top-header .header-container{
  margin-left:280px;
  background-color: #E5F7FF;
  color:#999999;
}

/*Header Container*/
.header-container .user-block{
  padding: 18px 0;
  margin-right: 52px;
  position: relative;
}

.header-container .user-block ul{
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.header-container .user-block ul li a{
  display: block;
  color: #999999;
  white-space: normal;
  outline: 0;
  padding: 4px 20px;
}

.header-container .user-block .user-panel{
  position: absolute;
  min-width: 100px;
  border: 1px solid #eee;
  top: 45px;
  padding: 0;
}

.user-block .user-detail{
  color: #999999;
}

#dateclock{
  position: relative;
  left: 19.3%;
  font-size: 12pt;
  padding: 20px 0;
  text-transform: capitalize !important;
}

/*Sidebar Container*/
.sidebar-menu{
  background-color: #262626;
  position: absolute;
  display: block;
  float:left;
  top:0;
  bottom:0;
  left:0;
  z-index:4;
  height:100%;
  padding-top: 99px;
  overflow: auto;
  padding-bottom: 35px;
}

.sidebar-menu .main-menu{
  width:280px;
}

.sidebar-menu .main-menu ul{
  position: relative;
  list-style: none;
}

.sidebar-menu .main-menu ul li a {
  position: relative;
  display: block;
  padding: 12px 15px 12px 2px;
  font-size: 15px;
  color: #999999;
  text-align: right;
  outline: 0
}

.sidebar-menu .main-menu ul li a:hover {
  text-decoration:none;
}

/*Main Container*/
.main-container{
  position: relative;
  margin-left: 280px;
  right: 0;
  left: 0;
}

.main-container .header-table{
  margin-top: 30px;
  border-bottom: solid 3px #999999;
  height: 60px;
}

.main-container .header-table .header-search {
  width: 48%;
}

.header-table .header-search .form-control{
  border-radius: 10px;
}

.header-table .header-search .form-control{
  border-radius: 10px;
}

.header-search .search-label label{
  padding-top: 7.5px;
  margin-right: 18px;
}

.header-search .search-label input-group{
  width: 280px;
}

/*Table Responsive*/
table #rsp-table {
  margin: 0 auto;
  border-collapse: collapse;
  text-rendering: optimizeLegibility;
}

#rsp-table thead th {
  font-weight: 700;
  color: #000;
  font-family: Roboto, sans-serif;
  vertical-align: top;
}

#rsp-table .dataBoldStyle a,
#rsp-table .dataBoldStyle{
  color: #000;
  font-weight: 700;
}

#rsp-table tbody tr{
  height: 60px;
  vertical-align: initial;
}

#rsp-table tbody tr td{
  padding-top: 20px;
}

#rsp-table tbody tr:nth-child(odd){
  background: #f2f2f2;
}

