<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <!--<li class="treeview">-->
      <!--<a href="/home">-->
        <!--<i class="fa fa-dashboard"></i> <span>Dashboard</span>-->
      <!--</a>-->
    <!--</li>-->
    <li class="treeview">
      <a href="">
        <i class="fa fa-folder"></i>
        <span>Publishing</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="/trip"><i class="fa fa-circle-o"></i> Trips</a></li>
        <li><a href="/facility"><i class="fa fa-circle-o"></i> Facilities</a></li>
        <li><a href="/motor"><i class="fa fa-circle-o"></i> Motors</a></li>
        <li><a href="/accessory"><i class="fa fa-circle-o"></i> Accessories</a></li>
        <li><a href="/accessory-category"><i class="fa fa-circle-o"></i> Accessory Category</a></li>
        <li><a href="/captain"><i class="fa fa-circle-o"></i> Captain</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="">
        <i class="fa fa-folder"></i>
        <span>Production</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="/headline"><i class="fa fa-circle-o"></i> Headline</a></li>
        <li><a href="/gallery"><i class="fa fa-circle-o"></i> Gallery</a></li>
        <li><a href="/testimonial"><i class="fa fa-circle-o"></i> Testi</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="">
        <i class="fa fa-folder"></i>
        <span>Administrative</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="/transaction"><i class="fa fa-circle-o"></i> Confirmation</a></li>
        <li><a href="/request-trip"><i class="fa fa-circle-o"></i> Request Trip</a></li>
      </ul>
    </li>
  </ul>
</section>
<!-- /.sidebar -->