<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Availaball</title>
<th:block th:replace ="/admin/layout :: head"></th:block>
</head>
<body>
<!-- Header -->
    <div id="wrapper">

        <!-- Top Navigation -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"  th:fragment="top-header">
            <div class="navbar-header" style="padding-left: unset; padding-top: 20px; margin-left: 53px;">
            <a href="" th:text="${session.mySessionAttributeTime}"></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li  class="dropdown " style="padding-right: 30px;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i></a>
                   <ul id = "dropdown_logout" class="dropdown-menu">
                       <form th:action="@{/logout}" method="post" class="form-group pull-right signoutForm">

                           <div class="pull-right">
                               <button id="button_logout" type="submit" class="btn ">Log Out</button>
                           </div>
                       </form>
                   </ul>
                </li>
            </ul>
            
            <div class="nav navbar-right top-nav navb" style="padding-top: 10px; font-size: 12px;">
                <div>
                    <li>
                        <a href="#" style="float: left;"> Happy Working</a>    
                    </li>
                </div> 
                <div ">
                    <li>
                        <a class ="tops " href="#" th:text="${session.mySessionAttributeAccount.name}"></a>
                    </li>
                </div>
            
            </div>
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav side-nav" id="list">
                    <li>
                        <img class="logo " src="/img/availaball.png"/>
                    </li>
                	<div class="list" id="list">
                    <li class="active">
                       <a class="btn btns-primary btn-block" th:href="@{/admin/index}">Dashboard<i class="icon-dashboard"></i></a>
                    </li>
                    <li>
                       <a class="btn btns-primary btn-block" th:href="@{/admin/user}">User <i class="icon-user_icon"></i></a>
                    </li>
                    <li>
                       <a class="btn btns-primary btn-block" th:href="@{/admin/map}">Map <i class="icon-maps"></i></a>
                    </li>
                </div>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>