<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/admin/layout">
<head>
  <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
  <h2>Trip Form</h2>
  <form th:action="@{/login}" method="post">

    <div class="form-group has-feedback">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
    </div>

    <div class="form-group has-feedback">
      <label for="exampleInputEmail2">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
    </div>

    <div class="form-group has-feedback">
      <label for="exampleInputEmail3">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
    </div>

    <div class="form-group has-feedback">
      <label for="exampleInputEmail4">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail4" placeholder="Enter email">
    </div>

    <div class="form-group has-feedback">
      <label for="exampleInputEmail5">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail5" placeholder="Enter email">
    </div>

    <div class="form-group has-feedback">
      <label for="exampleInputEmail6">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail6" placeholder="Enter email">
    </div>

    <div class="form-group has-feedback">
      <label for="exampleInputEmail7">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail7" placeholder="Enter email">
    </div>

    <div class="form-group has-feedback">
      <label for="exampleInputEmail8">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail8" placeholder="Enter email">
    </div>

    <div class="row">
      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>